.body {
    // height: 1800px;
    // min-height: 1000px;
    width: 100%;
    margin-top: 80px;
    padding-bottom: 40px;
    // background-color: yellow;
    // box-shadow: 2px 8px 12px var(--rgba-bsd), inset 0 0 10px var(--rgba-bsd);

    .main-top {
        padding: 10px 0;
        box-shadow: 2px 8px 12px var(--rgba-bsd), inset 0 0 10px var(--rgba-bsd);
        &__box {
        }
    }
}
